@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-4xl font-semibold
    }
    h2 {
        @apply text-3xl font-semibold
    }
    h3 {
        @apply text-xl font-semibold
    }
    h4 {
        @apply text-lg
    }
    strong {
        @apply font-semibold
    }
    ul {
      @apply pl-5 list-disc list-inside;
    }
    /* Ensures the area around a menu link also performs redirect */
    .menu a {
        display: flex;
        padding: 8px 16px;
    }
    .menu-horizontal a {
        color: white !important;
    }
  }
